html{
    height: 100%;
  }
  
  body {
      font-family: "Roboto",sans-serif;
  
       margin: 0;
       padding: 0;
       background-color: rgba(46, 82, 150, 0.85);
  }
  
  header {
      background: #3f4859;
      color:white;
      padding: 20px;
      text-align: center;
      font-family: "Roboto", sans-serif;
  }
  
  nav {
  
      text-align: center;
  }
  
  nav ul {
      list-style: none;
      padding: 0;
  }
  
  nav ul li {
      display: inline;
  }
  
  nav ul li a {
      color: white;
      padding: 15px 20px;
      text-decoration: none;
  }
  
  main {
      padding: 20px;
  }
/*----------------------------------большие белые кноки------------------------------------*/
    .size-pad{
    margin-top: 15px;
    margin-bottom: 15px;
}
  .card {
      background: white;
      padding: 2%;
      margin: 10px 0;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .card:hover{
    filter: brightness(90%);
  }
  
  .card p{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  h1{
    font-family: "Roboto",sans-serif;
    color: #ededed;
  }
  
  .btn-new {
  transition: 0.5s;
  font-size: 20px;
  }
  
  .btn-new:hover {
  transform: translate(0,-3px);
  box-shadow: 0 20px 40px 0 rgba(0, 54, 23, 0.6);
  }
  #box-new {
  transition: 0.5s;
  }
  
  #box-new:hover {
  transform: translate(0,-3px);
  
  box-shadow: 0 20px 40px 0 rgba(33, 150, 243, 0.6);
  }
  
  #color{
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  
  a{
    color: black;
  text-decoration: none;
  }
  
  .bg-cont{
   background-color: rgb(255 255 255 / 67%);
   border-radius: 10px;
   padding: 10px;
  }
  
  
  .settings-container {
      position: fixed;
      top: 10px;
      right: 20px;
  }
  
  .settings-button {
      cursor: pointer;
      font-size: 24px;
  }
  
  #set-right{
    text-align: right;
    position: relative;
    left: 160px;
  }
  
  #settings-toggle {
      display: none;
  }
  
  .dropdown-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      width: 180px;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }
  
  #settings-toggle:checked ~ .dropdown-content {
      max-height: 200px; /* Максимальная высота раскрывающегося меню */
  }
  
/* ----------------------------------------главная таблица-------------------------------------*/

  #main-table{
    max-width: 100%;
  }
  
  #wrap-block-left{
    width: 230px;
  }
  
  #wrap-block-right{
      width: 1500px;
  }
  
/* ----------------------------------главная таблица--------------------------------------------*/
  
  

/*-------------------------------------левая часть таблицы-------------------------------------*/
  
  
  .navmenu li {
    display: block; /* Каждая ссылка будет на новой строке */
    margin-bottom: 10px; /* Отступ между кнопками */
  }
  
  .mini_menu nav ul li a span{
      padding-left: 0 !important;
  }
  
/*--------------------------------------------якорь-------------------------------------------*/
  
  footer {
    text-align: center;
    padding: 5px;
    background: #3f4859 ;
    color:white;
    height: 50px;
    margin-top: 10%;
}

/*--------------------------------------------якорь-------------------------------------------*/